* {
  padding:0;
  margin:0;
}

body {
  font-family: Helvetica, sans;
  counter-reset: step;
}

@page {
  size: A4 portrait;
  margin:0.5in;
}

div.frontpage, div.backpage {
  width:100%;
  height:100%;
  background-size:cover;
  background-position: center; 
}

div.frontpage {
  background-image: url("other/front_cover_camera.png");
  page-break-after: always;
}

div.backpage {
  background-image: url("other/back_cover_camera.png");
  page-break-before: always;
}

div.page {
  width:100%;
  height:100%;
  page-break-before: always;
  page-break-after: always;
}

div.isopage div {
  width:50%;
  height:50%;
  float:left;
  padding:0.5in 1in;
  box-sizing: border-box;
}
div.isopage div div {
  width:100%;
  height:100%;
  background-size: cover;
  background-position: center;
}

div.isopage div div.front {
  background-image: url("other/front.png");
}

div.isopage div div.back {
  background-image: url("other/back.png");
}

div.isopage div div.left {
  background-image: url("other/left.png");
}

div.isopage div div.right {
  background-image: url("other/right.png");
}


div.step {
  counter-increment: step;
  position:relative;
  width:100%;
  height:49%;
}

div.step:nth-child(even) {
  page-break-after: always;
}

div.stepnum:after {
  content: counter(step);
  font-size: 0.6in;
  position:absolute;
  top:0;
  left:0;
  margin:0.5in;
}

ul.partslist {
  position:absolute;
  top:0;
  right:0;
  background-color:#eeeeee;
  border: solid #cccccc 0.05in;
  border-radius: 0.1in;
  max-width:75%;
  margin:0.5in;
}

ul.partslist li {
  display:inline-block;
  font-size:0.2in;
  margin:0.1in;
}

ul.partslist li img {
  vertical-align:middle;
}

img.stepimg {
  height:100%;
  position:absolute;
  top:0;
  left:0;
}


